<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarcodeScannerApp">
        <activity
            android:name=".ResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FantaActivity"
            android:exported="false" />
        <activity
            android:name=".SpriteActivity"
            android:exported="false" />
        <activity
            android:name=".PepsiActivity"
            android:exported="false" />
        <activity
            android:name=".DominosActivity"
            android:exported="false" />
        <activity
            android:name=".McDonaldsActivity"
            android:exported="false" />
        <activity
            android:name=".StarbucksActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".BeveragesActivity"
            android:exported="false" />
        <activity
            android:name=".SnickersActivity"
            android:exported="false" />
        <activity
            android:name=".MNMActivity"
            android:exported="false" />
        <activity
            android:name=".TobleroneActivity"
            android:exported="false" />
        <activity
            android:name=".KinderBuenoActivity"
            android:exported="false" />
        <activity
            android:name=".FerreroActivity"
            android:exported="false" />
        <activity
            android:name=".CadburryActivity"
            android:exported="false" />
        <activity
            android:name=".ScanProductCamera"
            android:exported="false" />
        <activity
            android:name=".ScanProductActivity"
            android:exported="false" />
        <activity
            android:name=".MainScanProductActivity"
            android:exported="false" />
        <activity
            android:name=".MainCategoriesPage"
            android:exported="false" />
        <activity
            android:name=".HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".KitkatActivity"
            android:exported="false" />
        <activity
            android:name=".ChoclatesActivity"
            android:exported="false" />
        <activity
            android:name=".SearchProductActivity"
            android:exported="false" />
        <activity
            android:name=".BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".InsertBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
    </application>

</manifest>